
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-8">
            {{#if loggedIn}}
            <div class="border-bottom border-2">
                <h2>Welcome back, {{username}}!</h2>
                <br>
                <div class="d-flex justify-content-between">
                    <h3 class="fw-lighter">My Posts</h3>
                    <a href="/" class="btn btn-primary mb-3 float-end">+ New Post</a>
                </div>
            </div> 
            <br>
            {{/if}}
            {{#each posts}}
                <div>
                    <article class="post">
                        <div>
                            <a href="/post/{{id}}">{{title}}</a>
                            <span>{{post_text}}</span>
                        </div>
                        <div>
                            <p>
                                Created by {{user.username}} on {{created_at}}
                                || {{comments.length}} comment(s) ||
                            </p>
                        </div>
                    </article>
                </div>

            {{/each}}

        </div>
    <div class="col-sm-2"></div>
</div>